<h2>{{title}}</h2>
<div class="course-item">
  <h3>{{courses[0].name}}</h3>
  <p>{{courses[0].description}}</p>
  <p>{{courses[0].price}}</p>
  <p>{{courses[0].date}}</p>
  <button>View details</button>
</div>
<div class="course-item">
  <h3>{{courses[1].name}}</h3>
  <p>{{courses[1].description}}</p>
  <p>{{courses[1].price}}</p>
  <p>{{courses[1].date}}</p>
  <button>View details</button>
</div>
<div class="course-item">
  <h3>{{courses[2].name}}</h3>
  <p>{{courses[2].description}}</p>
  <p>{{courses[2].price}}</p>
  <p>{{courses[2].date}}</p>
  <button>View details</button>
</div>